@using MyEvernotEntities;
@model List<note>



@{
    ViewBag.Title = "Index";
}

<!-- Page Content -->
<div class="container">

    <div class="row">

        <div class="col-md-3">
            <!--Kategoriler-->
            @Html.Partial("_partialCategories");
        </div>

        <div class="col-md-9">
            <!--Carousel-->

            <div class="row carousel-holder">

                <div class="col-md-12">
                    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                        </ol>
                        <div class="carousel-inner">
                            <div class="item active">
                                <img class="slide-image" src="http://placehold.it/800x300" alt="">
                            </div>
                            <div class="item">
                                <img class="slide-image" src="http://placehold.it/800x300" alt="">
                            </div>
                            <div class="item">
                                <img class="slide-image" src="http://placehold.it/800x300" alt="">
                            </div>
                        </div>
                        <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left"></span>
                        </a>
                        <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right"></span>
                        </a>
                    </div>
                </div>

            </div>

            <div class="row">

                @foreach (note note in Model)
                {
                    <div class="col-sm-4 col-lg-4 col-md-4">
                        <div class="thumbnail">
                            <img src="http://placehold.it/320x150" alt="@note.title">
                            <div class="caption">
                                <h4 class="pull-right"></h4>
                                <h4>
                                    <a href="#">@note.title</a>
                                </h4>
                                <h6 class="text-right">
                                    @note.owner.userName <br /><span class="glyphicon glyphicon-user"></span>
                                    @note.modifiedOn.ToString("dd.MM.yy HH:mm") <br /><span class="glyphicon glyphicon-time"></span>

                                </h6>
                                 @if (string.IsNullOrEmpty(note.text)== false && note.text.Length>70 )
                                 {
                                    <p>
                                        @(note.text.Substring(0, 70) + "...")
                                    </p>
                                    <p><a href="#" class="btn btn-sm btn-default">Devamı<span class="glyphicon glyphicon-chevron-right"></span></a></p>
                                 }
                                 else
                                 {
                                    <p>
                                        @note.text
                                    </p>
                                 }         
                              

                        </div>
                        <div class="ratings">
                            <p class="pull-right">

                                <button class="btn btn-default btn-sm" type="button">
                                    <span class="glyphicon glyphicon-comment"> Yorumlar</span>

                                </button>

                            </p>
                            <p>
                                <button class="btn btn-default btn-sm" type="button">
                                    <span class="glyphicon glyphicon-star-empty"></span>@note.likeCount
                                </button>

                            </p>
                        </div>
                    </div>
                </div>
                }






            </div>

        </div>

    </div>

</div>
